<%= form_with(
  model: [comment.post, comment],
  html: {
    data: { 
      controller: 'form', 
      action: 'submit->form#clear',
    },
    id: 'comment-form',
    class: 'w-full border-b shadow-lg px-10'
  }) do |form| %>
  <% if comment.errors.any? %>
    <div class="w-full p-2 border border-red-500 rounded-md mt-5">
      <h2 class="font-bold"><%= t('errors.template.header.other', model: comment.model_name.human ,count: comment.errors.count) %></h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :post_id %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="my-5">
    <%= form.label :message, class: 'form-label' %>
    <%= form.rich_text_area :message, class: 'form-control' %>
  </div>

  <div class="my-5 flex items-center justify-between">
    <%= form.submit 'Salvar', class: 'btn-primary' %>
    <%= link_to "Voltar", post_path(comment.post), class: 'btn-primary bg-red-500 hover:bg-red-7000' %>
  </div>
<% end %>
