<% unless @comment.errors.present? %>
  <%= turbo_stream.replace 'notice_comment' do %>
    <%= turbo_frame_tag :notice_comment %>
  <% end %>

  <%= notice_comment_stream(message: t('comment.messages.create'), status: :success) %>

  <%= turbo_stream.replace :new_comment do %>
    <%= turbo_frame_tag :new_comment %>
  <% end %>

  <%= turbo_stream.replace :total_comments do %>
    <%= turbo_frame_tag :total_comments do %>
      <h1 class="text-4xl text-gray-600 p-2 mt-5"><%= @comment.post.comments.size %> Comentários </h1>
    <% end %>
  <% end %>

  <%= turbo_stream.append 'comments', partial: 'comment', locals: { comment: @comment } %>

<% else %>
<%= turbo_stream.replace 'comment-form', partial: 'form', locals: { comment: @comment } %>
<% end %>
