
<div class="bg-white border shadow-md rounded-md pb-12 w-4/3 mx-auto px-4 min-h-screen">
  <div class="w-full flex flex-wrap border-b shadow-b">
    <div class="lg:w-1/4 sm:w-full xl:w-full  text-center lg:text-4xl text-gray-400 p-4 md:text-2xl sm:text-md">Pesquisar</div>
    <div class="lg:w-3/4 sm:w-full xl:w-full text-center self-center">
      <%= form_tag('/search', method: :post, data: { controller: 'search', action: 'turbo:submit-end->search#perform' }) do %>
        <%= text_field_tag :q, nil, 
          class: 'lg:w-full md:w-full sm:w-full xs:w-full p-3 lg:text-3xl border rounded-md md:text-lg sm:text-md',
          placeholder: 'Pesquise por titulo, autor ou tag'
        %>
      <% end %>
    </div>
  </div>

  <%= turbo_frame_tag 'title' do %>
    <h1 class="text-center text-4xl text-gray-500 p-3 mt-4">Blog - Últimos Posts </h1>
  <% end %>

  <%= turbo_stream_from :posts %>
  
  <%= turbo_frame_tag :posts, src: posts_path, loading: :lazy do %>
    <h1 class="text-center text-4xl text-gray-500 p-3 mt-4">Blog - Últimos Posts </h1>
    
    <% 3.times do %>
      <%= render partial: 'shared/loading' %>
    <% end %>
  <% end %>
</div>
