<%= form_with(
  model: post,
  html: {
    data: { 
      controller: 'form', 
      action: 'submit->form#clear',
    },
    class: 'mx-20 border-b shadow-lg px-10'
  }) do |form| %>
  <% if post.errors.any? %>
    <div class="w-full p-2 border border-red-500 rounded-md mt-5">
      <h2 class="font-bold"><%= t('errors.template.header.other', model: post.model_name ,count: post.errors.count) %></h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="my-5">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="my-5">
    <%= form.label :content, class: 'form-label' %>
    <%= form.rich_text_area :content, class: 'form-control' %>
  </div>

  <div class="my-5 flex items-center justify-between">
    <%= form.submit class: 'btn-primary' %>
    <%= link_to "Voltar", root_path, class: 'btn-primary bg-red-500 hover:bg-red-700', 'data-turbo-frame': '_top' %>
  </div>
<% end %>
