<%= form_with(
  model: post,
  html: {
    data: { 
      controller: 'form', 
      action: 'submit->form#clear',
    },
    class: 'mx-10 border-b shadow-lg px-10'
  }) do |form| %>
  <% if post.errors.any? %>
    <div class="w-full p-2 border border-red-500 rounded-md mt-5">
      <h2 class="font-bold"><%= t('errors.template.header.other', model: post.model_name ,count: post.errors.count) %></h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5" data-controller="tag-list" data-tag-list-list-value="<%= post.tags.pluck(:name) %>">
      
    <h1>Tags:</h1>
    <div class="flex flex-wrap w-full p-2 border-gray-400 shadow-md mb-5 rounded-md align-items-center" data-tag-list-target="tagList">
        <div class="flex flex-wrap gap-2">
        <%= form.fields_for :tags do |tag| %>
            <span class="flex flex-wrap font-bold normal-case p-1 bg-green-500 rounded-md text-white">
              <%= tag.hidden_field :id %>
              <%= tag.label :name, class: 'm-2 form-label text-white normal-case', value: tag.object.name %>
              <%= tag.check_box :_destroy, class: 'h-4 w-4 ml-2 self-center p-2 border-gray-200', data: { action: 'change->tag-list#remove'} %>
              <span class="ml-1 text-xs self-center">Excluir?</span>
            </span>
        <% end %>
       </div>
    </div>
    <label class="form-label">Adicione tags</label>
    <input 
      type="text"
      class="form-control"
      data-tag-list-target="tagInput"
      placeholder="Adicione tags separadao por virgula"      
    >
    <button type="button" class="btn-primary p-1 my-2" data-action="click->tag-list#change">Adicionar tag</button>
  </div>

  <div class="my-5">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="my-5">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="my-5">
    <%= form.label :content, class: 'form-label' %>
    <%= form.rich_text_area :content, class: 'form-control' %>
  </div>

  <div class="my-5 flex items-center justify-between">
    <%= form.submit class: 'btn-primary' %>
    <%= link_to "Voltar", root_path, class: 'btn-primary bg-red-500 hover:bg-red-700', 'data-turbo-frame': '_top' %>
  </div>
<% end %>
