<%= turbo_frame_tag :posts do %>
  

  <% unless @posts.present? %>
    <div class="w-full justify-center">
      <h1 class="font-bold text-4xl text-gray-400 mt-10 text-center w-full inline-block">
        Nenhum post cadastrado !
      </h1>

      <% if user_signed_in? %>
        <%= link_to 'Criar post', new_post_path, class: 'mx-auto mt-10 p-2 bg-blue-700 text-white text-center rounded-md block w-2/12', 'data-turbo-frame': '_top' %>
      <% end %>
    </div>
  <% end %>

  <% unless user_signed_in? %>
    <p class="font-4xl text-center text-lg tex-gray-500 mt-5">
      Faça 
      <%= link_to 'login', login_path, class: 'font-bold text-lg text-blue-500 underline', 'data-turbo-frame': '_top' %> 
      ou 
      <%= link_to 'registre-se', new_registration_path, class: 'font-bold text-lg text-green-500 underline', 'data-turbo-frame': '_top' %> 
      para criar um post.
    </p>
  <% end %>

  <div class="w-full">
    <%= render @posts %>
  </div>

<% end %>
