<!DOCTYPE html>
<html>

<head>
  <title>Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
  <%= render partial: 'shared/navbar' %>

  <% if notice %>
    <div class="px-4 py-3 leading-normal text-blue-700 border border-blue-500 rounded-lg" role="alert">
      <p class="text-sm"><%= notice %></p>
    </div>
  <% end %>

  <div class="container mx-auto mt-5">
    <%= yield %>
  </div>
</body>
</html>
