<!DOCTYPE html>
<html>

<head>
  <title>Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= hotwire_livereload_tags %>

</head>

<body>
  <%= render partial: 'shared/navbar' %>

  <%= turbo_frame_tag :notice do %>
    <% if notice %>
      <%= notice_stream(message: notice, status: :info) %>
    <% end %>

    <% if alert %>
      <%= notice_stream(message: alert, status: :error) %>
    <% end %>
  <% end %>

  <div class="container mx-auto mt-5">
    <%= yield %>
  </div>
</body>
</html>
